<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Admin Page</title>
	
	<link href="css/browseStyles.css" rel="stylesheet">

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/landing-page.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">


    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body ng-app="app">

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
        <div class="container topnav">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand topnav" href="index.html">Home</a>
                
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="browse.html">Browse</a>
                    </li>
                   
                    <li>
                        <a href="about.html">About</a>
                    </li>
                    <li>
                        <a href="http://localhost:3000/logout">Log Out</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>


    <!-- Header -->
    <div class="top" ng-controller="profile">
        <div class="container">

            <div class="row">
                <div>
                    
                    <h1>Admin Page</h1>
                    <hr class="intro-divider">        
   
   

				<div class="col-sm-4"></div>

			<div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">{{user}}'s Profile</h3>
            </div>  
                   
            </div>
		<div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Edit Password</h3>
            </div>
            <div class="panel-body">
              <div class="row">
                
                <div class=" col-md-9 col-lg-9 "> 
                  <table class="table table-user-information">
                    <tbody>
					  <tr>{{error}}</tr>
					  <tr>
                        <td>Old Password:</td>
                        <td><input type="password" id="opassword"></td>
                      </tr>
                      <tr>
                        <td>Password:</td>
                        <td><input type="password" id="password"></td>
                      </tr>
						
					  <tr>
                        <td>Confirm Password:</td>
                        <td><input type="password" id="cpassword"></td>
                      </tr>
						
                      
                     
                    </tbody>
                  </table>
                  <br><br>
                  <button class="btn btn-primary btn-block" ng-click="changePass()">Change Password</button>
                </div>
              </div>
            </div>  
                   
            </div>

		</div>
		</div>
          
        </div>
    <div>
        <h2 id="bucketList">Item List</h2>
      <p>
        <label for="new-task">Add Item</label><input name= "desc" id="desc" type="text" ng-required>
          <input name="price" id="price" type="text" ng-required>
          <input name="category" id="category" type="text" ng-required>
          <br><button type="button" class="btn btn-success" ng-click="addItem()"><span class="glyphicon glyphicon-plus"></button>
      </p>
          
        <ul ng-repeat="item in items | filter:{table:'items'}">
          <li> 
            <span> {{item.desc}} </span>
            <span> {{item.price}} </span>
            <span> {{item.category}} </span>
            <span> {{item.table}} </span>
            <button type="button" class="btn btn-danger" ng-click="removeItem(item)"><span class="glyphicon glyphicon-remove"></button>
            <button type="button" class="btn btn-warning" ng-click="editItem(item)">Edit</button>
			<button type="button" class="btn" ng-click="movePickup(item)">Move to Pickup</button>
			<button type="button" class="btn" ng-click="moveSold(item)">Move to Sold</button>
			<button type="button" class="btn" ng-click="moveArchive(item)">Archive</button>
			<button type="button" class="btn" ng-show="item.featured == false" ng-click="feature(item)">Feature</button>
			<button type="button" class="btn" ng-show="item.featured == true" ng-click="unfeature(item)">Unfeature</button>
          </li>
      </ul>
    </div>
        
    <div>
        <h2 id="bucketList">Pickup List</h2>
          
        <ul ng-repeat="item in items | filter:{table:'pickup'}">
          <li> 
            <span> {{item.desc}} </span>
            <span> {{item.price}} </span>
            <span> {{item.category}} </span>
            <span> {{item.table}} </span>
            <button type="button" class="btn btn-danger" ng-click="removeItem(item)"><span class="glyphicon glyphicon-remove"></button>
            <button type="button" class="btn btn-warning" ng-click="editItem(item)">Edit</button>
			<button type="button" class="btn" ng-click="moveItems(item)">Move to Items</button>
			<button type="button" class="btn" ng-click="moveSold(item)">Move to Sold</button>
			<button type="button" class="btn" ng-click="moveArchive(item)">Archive</button>
            <button type="button" class="btn" ng-show="item.featured == true" ng-click="feature(item)">Feature</button>
			<button type="button" class="btn" ng-show="item.featured == true" ng-click="unfeature(item)">Unfeature</button>
          </li>
      </ul>
    </div>
        
    <div>
        <h2 id="bucketList">Sold List</h2>
      
        <ul ng-repeat="item in items | filter:{table:'sold'}">
          <li> 
            <span> {{item.desc}} </span>
            <span> {{item.price}} </span>
            <span> {{item.category}} </span>
            <span> {{item.table}} </span>
            <button type="button" class="btn btn-danger" ng-click="removeItem(item)"><span class="glyphicon glyphicon-remove"></button>
            <button type="button" class="btn btn-warning" ng-click="editItem(item)">Edit</button>
			<button type="button" class="btn" ng-click="moveItems(item)">Move to Items</button>
			<button type="button" class="btn" ng-click="movePickup(item)">Move to Pickup</button>
			<button type="button" class="btn" ng-click="moveArchive(item)">Archive</button>
            <button type="button" class="btn" ng-show="item.featured == true" ng-click="feature(item)">Feature</button>
			<button type="button" class="btn" ng-show="item.featured == true" ng-click="unfeature(item)">Unfeature</button>
          </li>
      </ul>
    </div>
        
        
    <div>
        <h2 id="bucketList">Archive List</h2>
      
        <ul ng-repeat="item1 in archive">
          <li> 
            <span> {{item1.desc}} </span>
            <span> {{item1.price}} </span>
            <span> {{item1.date_added}} </span>
            <span> {{item1.category}} </span>
            <span> {{item1.table}} </span>
            <span> {{item1.pay_method}} </span>
            <span> {{item1.paid_by}} </span>
            <button type="button" class="btn btn-danger" ng-click="removeArchiveItem(item1)"><span class="glyphicon glyphicon-remove"></button>
			<button type="button" class="btn" ng-click="moveToItems(item1)">Restore</button>
			
          </li>
      </ul>
    </div>
		
    </div>

	
  

	

</body>
    
    
<style>
    body{
    
    }
    .centered-form{
        margin-top: 30px;
    }

    .centered-form .panel{
        background: rgba(255, 255, 255, 0.8);
        box-shadow: rgba(0, 0, 0, 0.3) 20px 20px 20px;
    }
</style>
    <!-- jQuery -->
    <script src="js/jquery.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
	<script src="socket.io/socket.io.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>
	
	<script src="js/admin.js"></script>
	
	<script>
$(function () {
    $(":file").change(function () {
        if (this.files && this.files[0]) {
            var reader = new FileReader();
            reader.onload = imageIsLoaded;
            reader.readAsDataURL(this.files[0]);
        }
    });
});

function imageIsLoaded(e) {
    $('#img-responsive').attr('src',e.target.result);
  };
</script>

</html>